
.foxmdl-active body {
	transform: scale( 0.9 );
}

.foxmdl-cover {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	background: rgba( 0, 0, 0, 0.5 );
}
	.foxmdl-active .foxmdl-cover {
		visibility: visible;
		opacity: 1;
	}

.foxmdl-contents {
	position: relative;
	padding: 20px;
	max-width: 400px;
	margin: auto;
}
	.foxmdl-active .foxmdl-contents {
		-webkit-filter: blur(2px);
		   -moz-filter: blur(2px);
		    -ms-filter: blur(2px);
		        filter: blur(2px);
	}
	.no-blur.foxmdl-active .foxmdl-contents {
		-webkit-filter: none;
		   -moz-filter: none;
		    -ms-filter: none;
		        filter: none;
	}

.foxmdl-popup {
    position: absolute;
	border: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    background: white;
    box-shadow: 0px 0px 60px rgb(0 0 0 / 30%);
    border-radius: 3px;
    box-sizing: border-box;
    transform: scale( 0.8 );
}

.foxmdl-popup > .closeButt {
	float: right;
    margin: 10px;
    font-size: 17pt;
}

.foxmdl-popup > .closeButt:hover {
	color: red;
	transition: 0.5s;
}

	.foxmdl-active .foxmdl-popup-animate {
		visibility: visible;
		opacity: 1;

		transform: scale( 1.1111 );
	}
	.foxmdl-popup.stack {
		transform: scale( 1.5 );
	}
	.foxmdl-active .foxmdl-popup.stack {
		transform: scale( 1.1111 );
	}


.foxmdl-ready body,
.foxmdl-ready .foxmdl-contents,
.foxmdl-ready .foxmdl-popup,
.foxmdl-ready .foxmdl-cover {
	transform-origin: 50% 50%;
	transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.foxmdl-ready .foxmdl-popup.no-transition {
	transition: none;
}

aside > .foxMdlMain {
	padding: 30px;
}

aside > .foxMdlMain > header {
	font-family: 'FSElliotPro-Heavy';
}

aside > .foxMdlMain > content {
	height: 84%;
    display: block;
}

