@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/Roboto-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FSElliotPro';
	src: url('../fonts/FSElliotPro.eot');
	src: url('../fonts/FSElliotPro.woff2') format('woff2'), url('../fonts/FSElliotPro.woff') format('woff'), url('../fonts/FSElliotPro.ttf') format('truetype'), url('../fonts/FSElliotPro.svg#FSElliotPro') format('svg'), url('../fonts/FSElliotPro.eot?#iefix') format('embedded-opentype');
	font-style: normal;
}

@font-face {
	font-family: 'FSElliotPro-Bold';
	src: url('../fonts/FSElliotPro-Bold.eot');
	src: url('../fonts/FSElliotPro-Bold.ttf') format('truetype'), url('../fonts/FSElliotPro-Bold.svg#FSElliotPro-Bold') format('svg'), url('../fonts/FSElliotPro-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'FSElliotPro-Heavy';
	src: url('../fonts/FSElliotPro-Heavy.eot');
	src: url('../fonts/FSElliotPro-Heavy.ttf') format('truetype'), url('../fonts/FSElliotPro-Heavy.svg#FSElliotPro-Heavy') format('svg'), url('../fonts/FSElliotPro-Heavy.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: url('../fonts/FuturaMediumC.eot');
	src: url('../fonts/FuturaMediumC.woff2') format('woff2'), url('../fonts/FuturaMediumC.woff') format('woff'), url('../fonts/FuturaMediumC.ttf') format('truetype'), url('../fonts/FuturaMediumC.svg#FuturaMediumC') format('svg'), url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Minecraft';
	src: url('../fonts/minecraft.ttf') format('truetype');
	font-style: normal;
}

/* Root Styles */
html {
	height: 100%;
	overflow-x: hidden;
    background-image: url(/app/img/bg.png);
    background-position: center center;
    background-size: cover;
	background-attachment: fixed;
    padding: 15px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="radio"] {
	margin: 5;
}

button {
	border: none;
	color: #ffffff;
}

button:hover {
	color: #ffce6f;
	background-color: #4f3d46;
	transition: 0.5s;
}

body {
	background-color: #ffffff00;
}

h1 {
	text-transform: uppercase;
	font-family: 'FSElliotPro-Bold';
}

h3 {
	font-size: 13pt;
	font-family: 'FSElliotPro-Bold';
	margin: 0;
}

.status {
	font-family: 'Minecraft';
	font-size: 8pt;
}

.butt {
	font-family: 'FSElliotPro-Heavy';
	width: auto;
	background-color: #abca4e;
	border-radius: 4px;
	font-size: 23px;
	color: #ffffff;
	height: 70px;
}

.butt:hover {
	background-color: #b8d74f;
	color: white;
}
		
.butt:active {
	opacity: 0.5;
}

.shadow {
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.contentBox {
	background-color: #d2c8c4;
	border-radius: 5px;
	padding: 10px;
}
		
.loadedPage {
	min-width: 420px;
	font-family: 'FSElliotPro';
	background-color: #eadcc97a;
    border-radius: 5px;
    padding: 10px;
}

td {
	vertical-align: top;
	padding: 0px 30px 0px 0px;
	text-align: start;
}

/* Auth */
		.auth {
			margin: 15vh auto;
			max-width: fit-content;
		}
		
		.auth > h1 {
			margin: 0 25px;
		}
		
		.auth > span {
			
		}

		.auth > form > .authBtn {
			font-size: 23px;
			color: #ffffff;
			width: 100%;
			height: 70px;
		}

		.auth > .authMrg {
			margin: 15 0;
		}
		
		.auth > .linksB {
			margin: 15 0;
			display: flow-root;
		}
		
		.auth > .linksB > a{
			padding: 5px;
			width: fit-content;
			font-family: 'FSElliotPro-Heavy';
			color: #ffffff;
		}
		
		.auth > .linksB > a:hover {
			transition: 0.3s;
			background-color: #ffffff57;
			text-decoration: solid;
			border-radius: 4px;
		}
/* Auth */

/* Is Logged */

		.isLogged {
			padding: 0;
		}
		
		.isLogged > table > tbody > tr > td {
			vertical-align: top;
			padding: 0px 10px 0px 0px;
			text-align: start;
		}

		.isLogged > table > tbody > tr > td > .uiBox {
			margin: 0 0 5;
		}
		
		
		
		.isLogged > table > tbody > tr > td:first-child {
			border-radius: 5px;
		}
		
		.isLogged > table > tbody > tr > td:last-child {
			padding: 10px;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > li {
			list-style: none;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .loginDetails {
			float: right;
			text-align: end;
			margin: 30px 20% 0px 0px;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .loginDetails > .userLogin {
			font-size: 15pt;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .loginDetails > .greeting {
			font-size: 8pt;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > li:first-child {
			display: inline-table;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > li:last-child {
			display: flow-root;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > li > .userPhoto {
			width: 128px;
			float: left;
			margin: 0px 5px;
			border-radius: 0% 50% 50%;
			border: 2px solid #d1b9b9;
		}

		.isLogged > table > tbody > tr > td > .uiBox > li > .uiInfo {
			margin: 10px 10px 0px;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > li > .uiInfo > .balanceBox {
			font-size: 10pt;
			background-color: #765f51;
			height: fit-content;
			width: fit-content;
			padding: 5px;
			border-radius: 10%;
			min-width: 100px;
			display: list-item;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > li > .uiInfo > .balanceBox > b {
			font-family: 'FSElliotPro-Heavy';
			color: #ba7739;
			text-shadow: 0 0 16px rgb(219 114 40 / 90%);
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .userMenu {
		    width: fit-content;
			height: fit-content;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin: 5% auto 5%;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .userMenu > button {
			margin: 5px;
			width: 143px;
			height: 35px;
			color: black;
			background: #e7e3e2;
			text-align: left;
			border-radius: 3px;
			font-family: 'FSElliotPro-Bold';
			font-size: 10pt;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .userMenu > button::after {
			font-family: 'FontAwesome';
			content: attr(icn);
			color: #7d5e58;
			float: right;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .userMenu > button:hover {
			color: #b76c2b;
			text-shadow: 0 0 16px rgb(140 167 214);
			box-shadow: -3.1px 5.1px 22px rgb(109 88 39);
			transition: 0.6s;
			background: #ece2df; 
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .userMenu > button:last-child:hover {
			background: #c74e54;
			color: white;
			animation: shakeAlert 1s;
			animation-iteration-count: infinite;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .userMenu > button:last-child:hover::after {
			color: white;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .userMenu > button:hover::after {
			color: #b76c2b;
			text-shadow: 0 0 16px rgb(140 167 214);
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .uiActionBtns {
			display: flex;
			margin: 3px 0px 0px 0px;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .uiActionBtns > button {
			width: 50%;
			font-family: 'FSElliotPro-Bold';
			display: inline-block;
			background: #694f5c;
			height: 50px;
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .uiActionBtns > button:hover {
			background-color: #4f3d46;
			color: #ffce6f;
		
		}
		
		.isLogged > table > tbody > tr > td > .uiBox > .uiActionBtns > button:first-child {
			margin: 0px 5px 0px 0px;
		}
		
		.isLogged > table > tbody > tr > .actionBox {
			height: 64px;	
		}
		
		.isLogged >  table > tbody > tr > td > .playTheGame {
			float: right;
		}
		
		.isLogged >  table > tbody > tr > td > .socialMedia {
			float: left;
		}
		
		.isLogged >  table > tbody > tr > td > .socialMedia > svg {
			color: white;
			margin: 18px 20px;
			width: 32px;
			height: 32px;
		}
		
		.isLogged >  table > tbody > tr > td > .socialMedia > svg:hover {
			transition: 0.5s;
			opacity: 0.5;
		}
		
		.ps__rail-y {
			top: 0 !important;
			right: 0 !important;
			left: auto !important;
			width: 10px;
			cursor: default;
			transition: width 200ms linear, opacity 200ms linear, background-color 200ms linear;
		}
		
		.ps__thumb-y {
			background-color: #aaa;
			border-radius: 6px;
			transition: background-color .2s linear, width .2s ease-in-out;
			-webkit-transition: background-color .2s linear, width .2s ease-in-out;
			width: 6px;
			right: 2px;
			position: absolute;
		}

/* isLogged */

/* Options */

		.optBox {
			margin: 3% 5%;
		}
		
		.optBox > h3 {
			font-family: 'FSElliotPro-Heavy';
			font-size: 14pt;
		}

		.optBox > form > table > tbody > tr > td:first-child {
			display: contents;
		}

		.optBox > form > table > tbody > tr {
			margin: 15px;
			display: table;
		}
		
		.optBox > form > table > tbody > tr > td > .cbox > label {
			font-size: 22pt;
		}

		.optBox > form > table > tbody > tr > td > .optTit {
			font-family: 'FSElliotPro-Bold';
			margin: 5px 0;
		}

		.optBox > form >  table > tbody > tr > td > .optTit > span {
			font-family: 'FSElliotPro';
			font-size: 9pt;
			display: block;
		}
		
		.optBox > form > .settingsButt {
			width: auto;
			height: 55px;
		}

/* Options */

/* Download */

	.download {
		margin: 10%;
	}
	
	.download > .dwnTxt {
		
	}
	
	.download > .progress > .progress-bar {
		background-color: #aac94e;
	}

/* Download */

/* Just A Box */

	.jab {
		margin: 15px 0px;
		padding: 10;
		border-radius: 5px;
		background: linear-gradient(107deg, #352319d1 0%,#e2a371e3 100%);
		box-shadow: -3.1px 5.1px 22px rgb(19 23 36 / 83%);
	}
			
	.jab > .bCont {
		display: block;
		border-radius: 5px;
		padding: 10px;
	}
	
	.jabTitB {
		position: relative;
		width: 383px;
		height: 111px;
		background: url(img/block.png) no-repeat;
		color: #FFF;
		font-size: 23px;
		font-weight: 300;
		line-height: 108px;
		text-indent: 48px;
		letter-spacing: 0.01em;
	}
			
	.jab > .bTit {
		padding: 3px 10px 0px;
		font-size: 12pt;
		color: #dc8d40d1;
		border-bottom: 2px solid #876609;
		width: max-content;
		font-family: 'FuturaMediumC';
	}

/* Just A Box Ended */

/* Modal */
.mdlContent {
    margin: 40px 0px 0px 0px;
}

.mdlContent ul li span.windows {
    background: #6c5245 url({THEME}/img/windows.png) 50% 42px no-repeat;
}

.mdlContent ul li span.linux {
    background: #6c5245 url({THEME}/img/linux.png) 50% 42px no-repeat;
}

.mdlContent ul li span {
    width: 282px;
    height: 189px;
    display: block;
    overflow: hidden;
    font-size: 16px;
    color: #302c26;
    font-family: FSElliotPro-Bold;
    line-height: 270px;
}

.mdlContent ul li {
    width: 282px;
    height: 273px;
    background-color: #6c5245;
    -moz-box-shadow: 0 16px 27px rgba(124,122,120,.09);
    -webkit-box-shadow: 0 16px 27px rgb(124 122 120 / 9%);
    box-shadow: 0 16px 27px rgb(124 122 120 / 9%);
    display: inline-block;
    margin: 0 17px;
}

.mdlContent a.download {
    width: 103px;
    height: 50px;
    background: #705e49 url({THEME}/img/icons/download.png) 22px 13px no-repeat;
    color: #fff;
    text-decoration: none;
    transition: all .5s ease;
    font-size: 18px;
    display: block;
    text-align: left;
    line-height: 45px;
    margin: -20px auto 13px auto;
    padding: 0 0 0 60px;
    font-family: FSElliotPro-Bold;
    box-shadow: 0 11px 27px rgb(55 49 42 / 22%), inset 0 -2px 0 #2f2b23;
}

.mdlContent a.download:hover {
    background: #fc9c17 url({THEME}/img/icons/download_hover.png) 22px 13px no-repeat;
    color: #fff;
    box-shadow: 0 11px 27px rgb(234 138 6 / 22%), inset 0 -2px 0 #dd850c;
    text-shadow: 2px 4px 4px rgb(189 93 2 / 65%);
}

/* KeyFrames */
@keyframes shakeAlert {
    0% {
        transform: translate(1px,1px) rotate(0)
    }

    10% {
        transform: translate(-1px,-2px) rotate(-1deg)
    }

    20% {
        transform: translate(-3px,0) rotate(1deg)
    }

    30% {
        transform: translate(3px,2px) rotate(0)
    }

    40% {
        transform: translate(1px,-1px) rotate(1deg)
    }

    50% {
        transform: translate(-1px,2px) rotate(-1deg)
    }

    60% {
        transform: translate(-3px,1px) rotate(0)
    }

    70% {
        transform: translate(3px,1px) rotate(-1deg)
    }

    80% {
        transform: translate(-1px,-1px) rotate(1deg)
    }

    90% {
        transform: translate(1px,2px) rotate(0)
    }

    100% {
        transform: translate(1px,-2px) rotate(-1deg)
    }
}