		/* INPUT BLOCK */
		select,	input, textarea, button {
			outline: none;
		}

		.inb {
			display: flow-root;
			position: relative;
			margin: 5px 0px;
		}

		.inb input[type="text"] {
			-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
			-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
			box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
			background-color: #c1bbab;
			height: 46px;
			width: 100%;
			padding: 18px 14px 4px;
			color: #765947;
			box-sizing: border-box;
			font-weight: 600;
			font-size: 14px;
			border-radius: 4px;
			border: 0;
			text-align: left;
			font-family: 'FSElliotPro-Heavy';
		}

		.inb input[type="text"]:focus,
		.inb input[type="text"]:hover {
			background: linear-gradient(-30deg, #d2cfc5, #aea283);
			color: #343434;
		}

		.inb input[type="text"]:focus~label,
		.inb input[type="text"]:not(:focus):valid~label {
			top: 10px;
			left: 14px;
			font-size: 9px;
		}

		.inb label {
			position: absolute;
			pointer-events: none;
			font-family: montserrat, sans-serif;
			font-weight: 600;
			color: #938972;
			top: 15px;
			left: 5px;
			font-size: 13px;
			text-transform: uppercase;
			margin: 0px 10px;
			transition: 0.2s;
		}
/*
		.auth button {
			position: relative;
			width: 328px;
			height: 116px;
			background: url(img/btn/authBtn.png) no-repeat 0 1px;
			background-size: cover;
			border: 0;
			outline: 0;
			text-shadow: 0 4px 13px rgba(20, 27, 44, 0.84);
			color: #FFF;
			font-family: "FSElliotPro";
			font-size: 19px;
			font-weight: 700;
			text-indent: 6px;
		}

		.auth button:hover {
			border: 0;
			transition: 0.3s;
			transform: translateY(-10px);
		}
		
		.auth button b {
			position: relative;
		}
		
		.auth button:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 328px;
			height: 106px;
			background: url(img/btn/authBtn.png) no-repeat 0 -107px;
			opacity: 0;
		}

		.auth button:hover:before {
			opacity: 1;
		} 

		.option_select {
			background: #eae6d6;
			font-family: montserrat, sans-serif;
			font-weight: 500;
			position: relative;
			width: 128px;
			height: 46px;
			display: inline-block;
			transition: .3s ease;
			margin: 15;
			-webkit-box-shadow: 0 3px 21px rgba(208, 198, 184, .3);
			-moz-box-shadow: 0 3px 21px rgba(208, 198, 184, .3);
			box-shadow: 0 3px 21px rgba(208, 198, 184, .3);
			border-radius: 4px;
		}

		.option_select:hover {
			background: #f1eddd;
		}

		.option_select_text {
			cursor: pointer;
			position: relative;
			font-family: montserrat, sans-serif;
			font-weight: 600;
			color: #765947;
			-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
			-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
			box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
			background: linear-gradient(-30deg, #d5983787, #8c56317a);
			width: auto;
			height: 46px;
			padding: 10px 10px 10px 0;
			font-size: 14px;
			border-radius: 4px;
			border: none;
		}

		.option_select_text:focus {
			outline: none;
		}

		.option_select_text option {
			font-family: montserrat, sans-serif;
			font-size: 13px;
			color: #000;
		}

		.option_select .option_select_text {
			appearance: none;
			-webkit-appearance: none;
			padding: 14px 0 0 14px;
		}

		.option_select:after {
			content: '';
			position: absolute;
			top: 20px;
			right: 14px;
			width: 12px;
			height: 8px;
			background: url(img/CParrow.png) no-repeat;
			pointer-events: none;
			font-family: montserrat, sans-serif;
			font-weight: 600;
		}

		.option_select_label {
			text-transform: uppercase;
			font-size: 13pt;
			color: #938972;
			font-family: montserrat, sans-serif;
			font-weight: 600;
			position: absolute;
			pointer-events: none;
			left: 18px;
			top: 15px;
			transition: .2s ease all;
			width: 100%;
		}

		.option_select_text:focus~.option_select_label,
		.option_select_text:valid~.option_select_label {
			top: 5px;
			left: 14px;
			transition: .2s ease all;
			font-size: 9px;
		}

		.option_select_bar {
			position: relative;
			display: inline-block;
			width: auto;
		}

		.option_select_bar:before {
			left: 50%;
		}

		.option_select_bar:after {
			right: 50%;
		}

		.option_select_text:focus~.option_select_bar:before,
		.option_select_text:focus~.option_select_bar:after {
			width: 50%;
		}*/
		
		/* CHECKBOX */
		.cbox label{
		  font-size:21px;
		  color:#666;
		  cursor:pointer;
		}

		.cbox input[type="checkbox"]{
		  display:none;
		}

		.cbox input[type="checkbox"] + .items:before {
		  content: "\f096";
		  font-family:'FontAwesome';
		  font-size:normal;
		  font-weight:normal;
		  text-transform:none;
		  margin-right:4px;
		  width:1em;
		  display:inline-block;
		}

		.cbox input[type="checkbox"]:checked + .items:before{
		  content: "\f14a";
		  color: #b15c1b;
		  animation:tick .1s ease-in;
		}

		@-webkit-keyframes tick{
		  0%{
			-webkit-transform:scale(0);
			transform:scale(0);
		  }
		  90%{
			-webkit-transform:scale(1.3);
			transform:scale(1.3);
		  }
		  100%{
			-webkit-transform:scale(1);
			transform:scale(1);
		  }
		}

		@-moz-keyframes tick{
		  0%{
			-moz-transform:scale(0);
			transform:scale(0); 
		  }
		  90%{
			-moz-transform:scale(1.3);
			transform:scale(1.3);
		  }
		  100%{
			-moz-transform:scale(1);
			transform:scale(1);
		  }
		}

		@-ms-keyframes tick{
		  0%{
			-ms-transform:scale(0);
			transform:scale(0);
		  }
		  90%{
			-ms-transform:scale(1.3);
			transform:scale(1.3);
		  }
		  100%{
			-ms-transform:scale(1);
			transform:scale(1);
		  }
		}

		@-o-keyframes tick{
		  0%{
			-o-transform:scale(0);
			transform:scale(0);
		  }
		  90%{
			-o-transform:scale(1.3);
			transform:scale(1.3);
		  }
		  100%{
			-o-transform:scale(1);
			transform:scale(1);
		  }
		}

		@keyframes tick{
		  0%{
			-webkit-transform:scale(0);
			-moz-transform:scale(0);
			-ms-transform:scale(0);
			-o-transform:scale(0);
			transform:scale(0);
		  }
		  90%{
			-webkit-transform:scale(1.3);
			-moz-transform:scale(1.3);
			-ms-transform:scale(1.3);
			-o-transform:scale(1.3);
			transform:scale(1.3);
		  }
		  100%{
			-webkit-transform:scale(1);
			-moz-transform:scale(1);
			-ms-transform:scale(1);
			-o-transform:scale(1);
			transform:scale(1);
		  }
		}
		
		/* INPUT SELECT */
		.select{
			position: relative;
			height: 45px;
			line-height: 3;
			box-shadow: none;
			border: 0 !important;
			background: #4f3d46;
			color: #ffce6f;
			font-family: 'FSElliotPro-Heavy';
			border-radius: .25em;
		}

		.select::after {
		  content: '\25BC';
		  position: absolute;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  padding: 0 1em;
		  background: #694f5c;
		  color: white;
		  pointer-events: none;
		}
			
		.select-active::after {
			content: '\25B2';
		}
				
		.selected{
			width: 100%;
			height: 100%;
			margin: 0px 15px 0px;
			cursor: pointer;
		}

		.option-list{
			display: none;
			position: absolute;
			bottom: 100%;
			left: -1px;
			width: 100%;
			border-radius: 5px 5px 0px 0px;
			background: #362d32;
			z-index: 2;
		}
		
		.option-list:active {
			display: grid;
		}
		
		.option{
			width: 96%;
			cursor: pointer;
			height: 45px;
			background-color: #443940;
			color: #ffffff;
			margin: 5px auto;
			border-radius: 5px;
			display: inline-table;
		}
		.option:hover{
			background: #4f3d46;
			color: #ffce6f;
			transition: 0.5s;
		}