@font-face {
	font-family: 'Roboto-Black';
	src: url('fonts/Roboto-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FSElliotPro';
	src: url('fonts/FSElliotPro.eot');
	src: url('fonts/FSElliotPro.woff2') format('woff2'), url('fonts/FSElliotPro.woff') format('woff'), url('fonts/FSElliotPro.ttf') format('truetype'), url('fonts/FSElliotPro.svg#FSElliotPro') format('svg'), url('fonts/FSElliotPro.eot?#iefix') format('embedded-opentype');
	font-style: normal;
}

@font-face {
	font-family: 'FSElliotPro-Bold';
	src: url('fonts/FSElliotPro-Bold.eot');
	src: url('fonts/FSElliotPro-Bold.ttf') format('truetype'), url('fonts/FSElliotPro-Bold.svg#FSElliotPro-Bold') format('svg'), url('fonts/FSElliotPro-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'FSElliotPro-Heavy';
	src: url('fonts/FSElliotPro-Heavy.eot');
	src: url('fonts/FSElliotPro-Heavy.ttf') format('truetype'), url('fonts/FSElliotPro-Heavy.svg#FSElliotPro-Heavy') format('svg'), url('fonts/FSElliotPro-Heavy.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: url('fonts/FuturaMediumC.eot');
	src: url('fonts/FuturaMediumC.woff2') format('woff2'), url('fonts/FuturaMediumC.woff') format('woff'), url('fonts/FuturaMediumC.ttf') format('truetype'), url('fonts/FuturaMediumC.svg#FuturaMediumC') format('svg'), url('fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Minecraft';
	src: url('fonts/minecraft.ttf') format('truetype');
	font-style: normal;
}

/* Root Styles */
html {
	height: 100%;
	overflow-x: hidden;
    background-image: url(/app/img/bg.png);
    background-position: center center;
    background-size: cover;
	background-attachment: fixed;
    border: 1px solid #c98826;
    padding: 15px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="radio"] {
	margin: 5;
}

body {
	background-color: #ffffff00;
}

h1 {
	text-transform: uppercase;
	font-family: 'FSElliotPro-Bold';
}

h3 {
	font-size: 13pt;
	font-family: 'FSElliotPro-Bold';
}

.status {
	font-family: 'Minecraft';
	font-size: 8pt;
}

.loadedPage {
	min-width: 420px;
	font-family: 'FSElliotPro';
	background-color: #eadcc97a;
    border-radius: 5px;
	border: 1px solid brown;
}

td {
	vertical-align: top;
	padding: 0px 30px 0px 0px;
	text-align: start;
}

/* Auth */
		.auth {
			margin: 15vh auto;
			max-width: fit-content;
		}
		
		.auth > h1 {
			margin: 0 25px;
		}
		
		.auth > span {
			
		}

		.auth > .authBtn {
			font-family: 'FSElliotPro-Heavy';
			background-color: #abca4e;
			border-radius: 4px;
			font-size: 23px;
			color: #ffffff;
			width: 100%;
			height: 70px;
			border: 0;
		}
		
		.auth > .authBtn:hover {
			background-color: #b8d74f;
		}
		
		.auth > .authBtn:active {
			opacity: 0.5;
		}

		.auth > .authMrg {
			margin: 15 0;
		}
		
		.auth > .linksB {
			margin: 15 0;
			display: flow-root;
		}
		
		.auth > .linksB > a{
			padding: 5px;
			width: fit-content;
			font-family: 'FSElliotPro-Heavy';
			color: #ffffff;
		}
		
		.auth > .linksB > a:hover {
			transition: 0.3s;
			background-color: #ffffff57;
			text-decoration: solid;
			border-radius: 4px;
		}
/* Auth */

/* servers */

		.serverBox > table > tbody > tr > td > .jab > .srvInfoList {
			list-style: none;
			margin: 0;
			display: inline-table;
		}

		.serverBox > table > tbody > tr > td > .jab  > .srvImg {
			width: inherit;
			height: auto;
		}

		.serverBox > table > tbody > tr > td > .jab  > .srvDesc {
			display: block;
			width: 100%;
			height: auto;
			margin: 5px;
			font-family: 'FSElliotPro-Bold';
		}

		.serverBox > table > tbody > tr > td > .srvSel {
			min-height: 64px;
		}

		.serverBox > table > tbody > tr > td > .srvSel > div {
			margin: 5px;
			width: 128px;
			text-align: center;
			background-color: #dbd8cfcc;
			border-radius: 10px;
			height: 128px;
			display: inline-block;
		}

		.serverBox > table > tbody > tr > td > .srvSel > div:hover {
			opacity: 0.75;
			transition: 0.50s ease-in-out;
			transform: translateY(-5px);
			background-color: #c5bca3cc;
			box-shadow: -3.1px 5.1px 22px rgb(0 0 0 / 83%);
		}

		.srvSel > .srvBox > .srvbImg {
			height: 64px;
			width: auto;
		}

		.srvSel > .srvBox > h4 {
			font-size: 22px;
			font-family: 'FSElliotPro-Bold';
			margin: 10px 0;
		}

/* servers */

/* Options */

		.optBox {
			margin: 3% 5%;
		}
		
		.optBox > h3 {
			font-family: 'FSElliotPro-Heavy';
			font-size: 14pt;
		}

		.optBox > table > tbody > tr > td:first-child {
			display: contents;
		}

		.optBox > table > tbody > tr {
			margin: 15px;
			display: table;
		}
		
		.optBox > table > tbody > tr > td > .cbox > label {
			font-size: 22pt;
		}

		.optBox > table > tbody > tr > td > .optTit {
			font-family: 'FSElliotPro-Bold';
			margin: 5px 0;
		}

		.optBox > table > tbody > tr > td > .optTit > span {
			font-family: 'FSElliotPro';
			font-size: 9pt;
			display: block;
		}

/* Options */

/* Just A Box */

	.jab {
		margin: 15px 0px;
		padding: 10;
		border-radius: 5px;
		background: linear-gradient(107deg, #352319d1 0%,#e2a371e3 100%);
		box-shadow: -3.1px 5.1px 22px rgb(19 23 36 / 83%);
	}
			
	.jab > .bCont {
		display: block;
		border-radius: 5px;
		padding: 10px;
	}
	
	.jabTitB {
		position: relative;
		width: 383px;
		height: 111px;
		background: url(img/block.png) no-repeat;
		color: #FFF;
		font-size: 23px;
		font-weight: 300;
		line-height: 108px;
		text-indent: 48px;
		letter-spacing: 0.01em;
	}
			
	.jab > .bTit {
		padding: 3px 10px 0px;
		font-size: 12pt;
		color: #dc8d40d1;
		border-bottom: 2px solid #876609;
		width: max-content;
		font-family: 'FuturaMediumC';
	}

/* Just A Box Ended */

/* Temp */
#main-sidebar {
	left: 0;
    top: 0;
	float: left;
	width: 23%;
	height: 100%;
	position: fixed;
	background-color: #495054;
	color: white;
}

.blockHeader {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPcAAAA8CAYAAAC6oywkAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAB/ElEQVR42uzbsU7jQBQF0JnECJaNkJD4EqigXL572+34FSQaSESIqShIseu82LOZ8TkdEpfEz74xlvLyr9v7mxSzCebeg7mzYO48mLsI5l7MZZZzWRaeyz+Pb5GAJnU/V6uDQ33fp5yznJzcCee6zWad+t1u8B/OOaePj11adks5ObkTznUp8umRU5KTkzvtnGduaJRyg3IDyg0oN6DcgHIDyg3KDdQk930fCj7ePXTB17wK5n4Ec2/B3DaYezWX8eby++nPtuT1ecTrXUc7GHyfz+7cMFPRu28ask22v71iW8dcDp1L6etzytcbc56Tlnv99vf/sr62VxaL/O3n1rd1vo7XXMaZS+nrM6r0duWk5R70iZP3fm8G2zrmMvJcSl+fUQPm0u+/xDHnYQDP3NAo5QblBpQbUG5AuQHlBpQblBuoST7m+7QlHbGFFhLdDvoPx3cZzEW316LbVmt1G++8D7k+3bmhUV0tb3TKLbQxt4NqOb7SOcY9702VO7rlU3obqZbjK51j3PPeVLmjWz7Ft4MqOb7W59n6dT2EZ25olHKDcgPKDSg3oNyAcgPKDcoN1CT73m/dWt+Ww50b2NMZQd1a35ZDuWer9W05lHu2bHfhmRuUG1BuQLkB5QaUG1BuUG5AuYGTZSsM3LkB5QaUG5jGJwAAAP//AwDL+Br/xTvQBQAAAABJRU5ErkJggg==);
	background-repeat: repeat-x;
}